<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEsX2wT4gZj8kT8kt81280ieu2hQZX998</string>
	<key>GCM_SENDER_ID</key>
	<string>785540653021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forrest-arnold.Harmony</string>
	<key>PROJECT_ID</key>
	<string>harmony-c4d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>harmony-c4d4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785540653021:ios:ffcd5fc3c410380de0e034</string>
</dict>
</plist>